<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new customer</title>
</head>
<body>
<div th:replace="~{common_customer :: headerCustomer}">
</div>
<h2>Create customer</h2>
<form action="/customer/create" method="post" th:object="${customer}">
    <p>Name: </p>
    <input type="text" th:field="*{name}"/>
    <p>Email: </p>
    <input type="text" th:field="*{email}"/>
    <p>Address: </p>
    <input type="text" th:field="*{address}"/>
    <input type="submit" value="Create new"/>
</form>
<div th:replace="~{common_customer :: footerCustomer}">
</div>
</body>
</html>