<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer user service</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">
</head>
<body>
<div th:replace="/frame/navbar :: div"></div>
<h1 class="text-center" style="color:crimson">Edit Customer user service</h1>
<a class="btn btn-primary mb-2" href="/customer" role="button">Customer user service list</a>

<!--<th:block th:if="${message}">-->
<!--    <p th:text="${message}"></p>-->
<!--</th:block>-->
<form id="form" th:action="@{/edit-customer-user-service}" th:object="${customerDto}" method="post">
    <table>
        <input type="hidden" th:field="*{customerId}"/>
        <tr>
            <td>Customer Code:</td>
            <td><input class="form-control" type="text" th:field="*{customerCode}"/></td>
            <td th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}">Customer Code Error</td>
        </tr>
        <tr>
            <td>Customer Name:</td>
            <td><input class="form-control" type="text" th:field="*{customerName}"/></td>
            <td th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}">Customer Name Error</td>
        </tr>
        <tr>
            <td>Customer Id Card:</td>
            <td><input class="form-control" type="text" th:field="*{customerIdCard}"/></td>
            <td th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}">Customer Id Card Error</td>
        </tr>
        <tr>
            <td>Customer Address:</td>
            <td><input class="form-control" type="text" th:field="*{customerAddress}"/></td>
            <td th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}">Customer Address Error</td>
        </tr>
        <tr>
            <td>Contract Id:</td>
            <td>
                <select class="form-control" th:field="*{contract}">
                    <option th:each="item:${contractList}" th:text="${item.contractId}"
                            th:value="${item.contractId}"></option>
                </select>
            </td>
        </tr>
<!--        <tr>-->
<!--            <td>Contract Detail Id:</td>-->
<!--            <td>-->
<!--                <select class="form-control" th:field="*{}">-->
<!--                    <option th:each="item:${contractList}" th:text="${item.contractId}"-->
<!--                            th:value="${item.contractId}"></option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Contract Id:</td>-->
<!--            <td>-->
<!--                <select class="form-control" th:field="*{contract}">-->
<!--                    <option th:each="item:${contractList}" th:text="${item.contractId}"-->
<!--                            th:value="${item.contractId}"></option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
        <tr>
            <td></td>
            <td><input class="btn btn-warning" type="submit" value="Edit customer"></td>
        </tr>
    </table>
</form>

<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/jquery/popper.min.js"></script>
<script src="/bootstrap4/js/bootstrap.js"></script>
</body>
</html>