<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Create category</title>
</head>
<body>
<h1>Create category</h1>
<p>
    <a href="/categorys">Category list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form id="form" th:action="@{/create-category}" th:object="${category}" method="post">
    <table>
        <tr>
            <td>Category name:</td>
            <td><input type="text" th:field="*{categoryName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create category"></td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>