<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Categorys</title>
</head>
<body>
<a href="/create-category">Create new category</a>
<br>
<a href="/blogs">Blog list</a>
<h1>Categorys</h1>
<table class="blogs" border="1">
    <tr>
        <th>Category name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="category : ${categorys}">
        <tr>
            <td th:text="${category.categoryName}"></td>
            <td><a th:href="@{/edit-category/__${category.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-category/__${category.id}__ }">Delete</a></td>
            <td><a th:href="@{/view-category/__${category.id}__ }">View</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/categorys'(page=${categorys.number - 1})}" th:if="${categorys.hasPrevious()}">Previous</a>
    <span th:text="${categorys.number + 1}"></span>/<span th:text="${categorys.totalPages}"></span>
    <a th:href="@{'/categorys'(page=${categorys.number + 1})}" th:if="${categorys.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>