<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/blogs">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form id="form" th:action="@{/edit-blog}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Blog name:</td>
            <td><input type="text" size="95px" th:field="*{blogName}" readonly/></td>
        </tr>
        <tr>
            <td>Blog summary:</td>
            <td><textarea rows="5" cols="100px" th:field="*{blogSummary}" readonly></textarea></td>
        </tr>
        <tr>
            <td>Blog content:</td>
            <td><textarea rows="5" cols="100px" th:field="*{blogContent}"></textarea></td>
        </tr>
        <tr>
            <td>Start time:</td>
            <td><input type="date" size="95px" th:field="*{startTime}"/></td>
        </tr>
        <tr>
            <td>Category name:</td>
            <td>
                <select th:field="*{category.id}">
                    <option th:each="item:${categoryList}" th:text="${item.categoryName}" th:value="${item.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update blog"></td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>